.Speakers {
    &__card {
        background-color: #E6E6E6;
    }

    &__card--keynote {
        background-color: #E6E6E6;
    }

    &__header {
        text-align: center;
        color: white;
    }

    margin: 80px auto;
}
