.registration {
  height: 40vh;
  text-align: center;
  .registration-email-input {
    margin: 2em;
  }
}

@media (min-width: 768px) {

}

@media (max-width: 768px) {

  .registration {

  }

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
