.Footer {

    &__header {
        color: white;
        text-align: center;
    }

    &__contact {
        color: white;
        font-family: 'Robot', sans-serif;

        .glyphicon {
            top: 3px;
            left: 3px;
            margin-right: 0.5em;
        }
    }

    padding: 2em 0;
}

.ReactModal__Body--open{
    background-color: rgba(20, 20, 20, 0.85) !important;
}
.ReactModal__Overlay .ReactModal__Overlay--after-open{
    background-color: black;
}