<div class="landing">

  <div class="hero">

    <!--Height : 70% -->
    <div class="hero-header">
      <div class="hero-item left">
        <div class="hero-item-title">
          <h1 class="">reflections</h1>
        </div>
      </div>
      <div class="hero-item center">
        <div class="hero-item-title">
          <img src="../assets/svg/logo.svg" />
        </div>
      </div>
      <div class="hero-item right">
        <div class="hero-item-title">
          <h1 class="">projections</h1>
        </div>
      </div>
    </div>

    <!--Height : 30%-->
    <div class="registration">
      <h1 class="registration-date desktop">September 29th to October 1st, 2017</h1>
      <h1 class="registration-date mobile">Sep. 29th to Oct. 1st, 2017</h1>

      <div class="registration-info">
        <p class="thin">Student-Run Tech Conference<br/>at the University of Illinois at Urbana-Champaign<br/>Proudly Hosted at the Siebel Center for Computer Science</p><br/>
        <a class="button btn-1">
          Register for Updates
        </a>
      </div>
    </div>

  </div>
</div>
